* { /*todos os elementos */
    margin: 0; /* Remove margens */
    padding: 0px; /* Define um preenchimento padrão */
}


body { 
    font-family: Arial, sans-serif;
}

/* Estilizar o cabeçalho*/
header {
    background-color: #333; /* Cor de fundo */
    color: white; /* Cor do texto como branco */
    padding: 5px; /* Adiciona 5px de preenchimento ao redor do cabeçalho */
    text-align: center; /* Centraliza o texto */
}
.cabeçalho {
    display: flex; /* Utiliza flexbox para alinhar os itens na barra de navegação em linha */
    justify-content: center; /* Centraliza */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    gap: 30px; /* Define um espaço os itens*/
    list-style-type: none; /* Remove os marcadores padrão da lista */
    padding: 15px; /* Adiciona 5px de preenchimento ao redor da barra de navegação */
    background-color: #333;
}
.cabeçalho li {
    display: inline; /* Exibe os itens da lista em linha */
}

.cabeçalho li a { /* Formatar a lista de links */
    color: white; /* Define a cor do texto dos links como preto */
    text-decoration: none; /* Remove o sublinhado dos links */
    padding: 10px 15px; /* Adiciona preenchimento de 10px em cima e embaixo, e 15px à esquerda e à direita */
}

/* Estilos para o formulário */
form {
    display: flex;
    gap: 10px;
    margin: 10px;
}

/* Estilizando os rótulos (labels) */
label {
    font-weight: bold;
    color: #333;
}

/* Estilizando os campos de entrada (input) */
input[type="search"] {
    padding: 5px; /* Preenchimento internO */
    border: 1px solid #ccc;
    border-radius: 10px; /* Bordas arredondadas */
}

/* Estilizando o botão de envio */
input[type="submit"] {
    color: black; /* Cor do texto do botão */
    padding: 10px 20px; /* Preenchimento do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 10px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

/* Efeito de hover no botão de envio */
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Efeito de hover nos links da barra de navegação */
.cabeçalho li a:hover {
    background-color: #8a8a8a; /* Muda a cor de fundo para um cinza mais claro ao passar o mouse */
    border-radius: 10px; /* Arredonda os cantos do fundo do link */
}

/* Estilizar a Main */
article {
    padding: 10px;
}
aside {
    padding: 10px;
}

/* Estilo para o rodapé */
footer {
    text-align: center; /* Centraliza o texto do rodapé */
    padding: 0px; /* Adiciona 10px de preenchimento ao redor do rodapé */
    margin-top: 620px; /* Adiciona uma margem superior de 20px para separar o rodapé do conteúdo acima */
    background-color: #333;
    color: white;
}